<a href="https://colab.research.google.com/github/chathurapr/MDA-Programming/blob/master/Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Add two numbers and display the result

myVal01 = 8
myVal02 = 10

answer = myVal01 + myVal02

print("The sum of ",myVal01, "and", myVal02, "is: ", answer)

The sum of  8 and 10 is:  18

In [6]:
#Take two numbers from the user and add them together. Display the result.

myVal01 = int(input("Enter the first number: "))
myVal02 = int(input("Enter the second number: "))

answer = myVal01 + myVal02

print("The sum of ", myVal01, "and", myVal02, "is: ", answer)

Enter the first number: 12
Enter the second number: 13
The sum of  12 and 13 is:  25

In [18]:
#Python mathematical operators: +, -, /, *, // (integer division), % (modulus), ** (power)

myVal01 = 15
myVal02 = 2

answer = myVal01 ** myVal02 - 100 

print(answer)

125

In [17]:
# Computer program = Sequence + Selection + Repetition

#Get a number from the user. If that number is greater than 25, print "Success".

myVal = int(input("Enter a number: "))

if myVal > 25:   #1. Using a relational operator, 2. indentation
  print("Success")

Enter a number: 26
Success

In [19]:
#Get a number from the user. If that number is greater than 25, print "Success". Otherwise print "Failure"

myVal = int(input("Enter a number: "))

if myVal > 25:   #1. Using a relational operator, 2. indentation
  print("Success")
else:
  print("Failure")

Enter a number: 13
Failure

In [23]:
#Compare three numbers and print the highest number

val1 = 10
val2 = 8 
val3 = 12

if val1 > val2:
  if val1 > val3:
    print(val1, "is the highest")
  else:
    print(val3, "is the highest")
else:
  if val2 > val3:
    print(val2, "is the highest")
  else:
    print(val3, "is the highest")

12 is the highest

In [ ]:
#Exercise: input a mark of a student out of 100. Decide the grade (A, B, C, D, F) according to the input mark.

#1. Use a nested if statement

#2. Use an elif statement

In [ ]:
#Handling a repetition - Loops

#Python has two types of loops
#1. While loop
#2. For loop

#Python has nested loops

In [24]:
# Print the sequence 1,2,3,4,5,...n

upperBound = 10
counter = 1

while counter <= upperBound:
  print(counter, end= " ")
  counter = counter + 1   #counter += 1, counter -= 1, counter *= 3


  #Exercises:
  # 10, 9, 8, 7, 6....,2,1
  #2, 4, 6, 8, 10
  #1,3,5,7,9

1 2 3 4 5 6 7 8 9 10

In [31]:
upperBound = 10

for i in range(1,upperBound+1):
  print(i, end= " ")

1 2 3 4 5 6 7 8 9 10

In [30]:
print(list(range(2,11,2)))

[2, 4, 6, 8, 10]

In [ ]:
#Exercise: Working with strings
#Exercise: Working with lists (under collections - list, tuple, dictionary, set)
#Exercise: Working with functions

#Try w3schools or tutorialspoint python tutorials