<a href="https://colab.research.google.com/github/chathurapr/MDA-Programming/blob/master/NestedLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Checking if the letter 'a' is in a list item and prepare a new list accordingly.

In [ ]:

myList = ['car', 'van', 'bus', 'lorry']
newList = []

for x in myList:
  if 'a' in x:
    newList.append(x)

print(newList)

['car', 'van']

### 2. Can we write the above using a lesser number of lines?

In [ ]:
myList = ['car', 'van', 'bus', 'lorry']

newList = [x for x in myList if 'a' in x]

print(newList)

['car', 'van']

### 3. Let's find the factorial value

In [ ]:
val = 5
ans = 1

for i in range(2,val+1): #2X3X4X5
  ans *= i

print(ans)

120

In [ ]:
value = int(input("Enter the value"))
myList = [0,1]
for i in range(1, value, 1):
  insertValue = myList[i] + myList[i-1]
  if insertValue > value:
    break
  else:
    myList.append(insertValue) 
print(myList)

Enter the value25
[0, 1, 1, 2, 3, 5, 8, 13, 21]

### 4. Let's create the fibonacci series 0,1,1,2,3,5,.......

In [ ]:
fSeries = [0,1]
length = 10

if length > 2:
  
  num1 = 0  #Index of the first element
  num2 = 1

  for i in range(length - 2):
    fSeries.append(fSeries[num1] + fSeries[num2])
    num1 += 1
    num2 += 1

print(fSeries)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
from numpy import random

myList = random.randint(1,999,size=(150))
print(myList)

[162 663 355 550 996  95 236 228 851 386   1 110 460 480 500 133 532 198
  58 774 653 530 185 610 214 686 783 593 128 924 726 304 584 179  73 500
 758 245 234 658 820 806 848 108 745 912 435 361 966   6 211 228   1 563
 678 732 767 375 982 834 946 375 992 988 474 778 122 603 202 121 965 992
 552 268 594 702 698 206 745 527 202 969  11 909 331 205 580 326 848 822
 649 603 538 622 757 621  73 908 538  99 401 125 991 217 296 843 596 224
 117 528  22 878 896 807 806 199 316 468 799 372 855 125 568 817 532 745
 410 719 777 287 532 258 187 805 168 854 778 327 660 523  34 173 455 970
 908 332 615  87  17 146]

### 5. Shall we search a value in a list?

In [ ]:
from numpy import random

myList = random.randint(1,999999,size=(987500))
#print(myList)

searchVal = -1
found = False
loc = -1

for i in range(0, len(myList)):
  if myList[i]==searchVal:
    found = True
    loc = i
    break

if found == True:
  print("The value is available at", i)
else:
  print("Tha value is not available")

Tha value is not available

### Can you sort a given list?

In [ ]:
#Bubble sort algorithm

myList = [91, 66, 18, 64, 50, 47, 48, 92,  4, 59,  6, 30, 31, 54,  2] 


for i in range(0,len(myList)-1):
  temp = -1
  if myList[i] > myList[i+1]:
    temp = myList[i+1]
    myList[i+1] = myList[i]
    myList[i] = temp

print(myList)

[66, 18, 64, 50, 47, 48, 91, 4, 59, 6, 30, 31, 54, 2, 92]

### can you generate a given pattern using stars?

In [ ]:
val = 5

for i in range(0,val):
  for j in range(0,val):
    print('*',end=" ")
  print("\n")
  

myStr = ""
for i in range(0,val):
  for j in range(0,val):
    myStr = myStr + "* "
  myStr = myStr + "\n"

print(myStr)

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
x = 5
for i in range(1, x+1):
  for j in range(1,i+1):
    print("*", end = " ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

In [ ]:
x = 5
for i in range(x,0,-1):
  for j in range(i):
    print("*", end = " ")
  print("\n")

* * * * *

* * * *

* * *

* *

*

In [ ]:
x = 9  #make sure x is an odd number
for i in range(1, x+1):
  if i <= (x//2+1):
    for j in range(1,i+1):
      print("*", end = " ")
    print("\n")
  else:
    for j in range(1,x-i+2):
      print("*", end = " ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
x = 5
for i in range(1,x):
  print(" "*(x-i-1), end = "")
  for j in range(i):
    print("*", end = " ")
  print("\n")

   *

  * *

 * * *

* * * *

In [ ]:
x = 5
for i in range(x,0,-1):
  print(" "*(x-i), end = "")
  for j in range(i):
    print("*", end = " ")
  print("\n")

* * * * *

 * * * *

  * * *

   * *

    *

##Finding permutations of a given set of characters

In [ ]:
myStr = "ABCD"
pLst = []
for i in myStr:
  for j in myStr:
    if i != j:
      for k in myStr:
        if k != i and k != j:
          for l in myStr:
            if l != i and l != j and l != k:
              pLst.append(i + j + k+l)
print(pLst)

['ABCD', 'ABDC', 'ACBD', 'ACDB', 'ADBC', 'ADCB', 'BACD', 'BADC', 'BCAD', 'BCDA', 'BDAC', 'BDCA', 'CABD', 'CADB', 'CBAD', 'CBDA', 'CDAB', 'CDBA', 'DABC', 'DACB', 'DBAC', 'DBCA', 'DCAB', 'DCBA']

Can you build a binary tree from data?