<a href="https://colab.research.google.com/github/chathurapr/Hello-World/blob/master/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Programming â€“ Python Lists**

In [ ]:
nums = [12, 13, 22, 40]
deatilsList = ["Ravi","Colombo","Married"]
testList = ["Ravi",12, "Married", 65.8]

print(nums) 
print(deatilsList)
print(testList)

[12, 13, 22, 40]
['Ravi', 'Colombo', 'Married']
['Ravi', 12, 'Married', 65.8]

In [ ]:
duplicatedData = ["Ravi", 12, "Ravi", "Married"]
print(duplicatedData)

['Ravi', 12, 'Ravi', 'Married']

Length of a List:

In [ ]:
deatilsList = ["Ravi","Colombo","Married"]
print(len(deatilsList))

3

Type of a List:

In [ ]:
deatilsList = ["Ravi","Colombo","Married"]
print(type(deatilsList))

<class 'list'>

**Accessing Items:**

1. indexed

In [ ]:
deatilsList = ["Ravi","Colombo","Married"]

print(deatilsList[0])
print(deatilsList[1])
print(deatilsList[2])
print(deatilsList[3])

Ravi
Colombo
Married

IndexError: ignored

2. Range of Indexes

In [ ]:
nums = [10, 20, 30, 40, 50, 60 ,70]

print(nums[2:5]) # index 2 (included) and index 5 (excluded)
print(nums[2:]) # index 2 (included)
print(nums[:4]) # index 4 (excluded)

[30, 40, 50]
[30, 40, 50, 60, 70]
[10, 20, 30, 40]

3. Negative indexes

In [ ]:
nums = [10, 20, 30, 40, 50, 60 ,70]

print(nums[-4:-1]) # index -4 (included) to index -1 (excluded)
print(nums[-2:]) #index -2 (included)
print(nums[:-4]) # index -4 (excluded)

[40, 50, 60]
[60, 70]
[10, 20, 30]

4. Check whether an item is present in the list

In [ ]:
nums = [10, 20, 30, 40, 50, 60 ,70]

if 12 in nums:
  print("Yes, 12 is in the number list")

else:
  print("No, 12 is not in the number list")

No, 12 is not in the number list

**Change List items:**

1. Through indexes

In [ ]:
nums = [10, 20, 30, 40, 50, 60 ,70]

nums[2] = 78

print(nums)

[10, 20, 78, 40, 50, 60, 70]

2. Change a Range of Items

In [ ]:
nums = [10, 20, 30, 40, 50, 60 ,70]

nums[2:5] = [32, 34, 36]

print(nums)

[10, 20, 32, 34, 36, 60, 70]

3. Change an Already Exsisting Values

In [ ]:
nums = [10, 20, 30, 40, 50, 60 ,70]

nums[1:2] =[15]  # Change the second value by replacing it with two new values
print(nums)

nums[1:3] = [25] # Change the second and the third value by replacing it with one value
print(nums)

[10, 15, 30, 40, 50, 60, 70]
[10, 25, 40, 50, 60, 70]

**Add List Items:**

1. Insert items

In [ ]:
testList = ["car", "12", "computer", 66.5]

testList.insert(2, "masks")
print(testList)

['car', '12', 'masks', 'computer', 66.5]

2. Append Items

In [ ]:
testList = ["car", "12", "computer", 66.5]

testList.append("masks")
print(testList)

['car', '12', 'computer', 66.5, 'masks']

3. Extent List

In [ ]:
testList = ["car", "12", "computer", 66.5]
secondList = ["Toyota", "Dell"]

testList.extend(secondList)
print(testList)

['car', '12', 'computer', 66.5, 'Toyota', 'Dell']

In [ ]:
testList = ["car", "12", "computer", 66.5]
testList.extend([44, "pejero"]) # use []
print(testList)

['car', '12', 'computer', 66.5, 44, 'pejero']

**Remove List Items:**

1. remove() :  	Remove a specific value

In [ ]:
testList = ["car", 12,"computer", 66.5]

testList.remove(12)
print(testList)

testList.remove("computer")
print(testList)

['car', 'computer', 66.5]
['car', 66.5]

2. pop() : Remove a specific index

In [ ]:
testList = ["car", 12, "computer", 66.5]

testList.pop(1)
print(testList)

['car', 'computer', 66.5]

In [ ]:
testList = ["car", 12, "computer", 66.5]

testList.pop() #removes the last item
print(testList)

['car', 12, 'computer']

3. clear() : Empties the List

In [ ]:
testList = ["car", 12, "computer", 66.5]

testList.clear()
print(testList)

[]

4. del keyword : Delete more that one item

In [ ]:
testList = ["car", 12, "computer", 66.5]

del testList[2:]
print(testList)

['car', 12]

In [ ]:
testList = ["car", 12, "computer", 66.5]

del testList #delete the list completely
print(testList)

NameError: ignored

**Loop List Items:**

1.  	Looping through the list items

In [ ]:
#for loop

testList = ["car", 12, "computer", 66.5]
for x in testList:
  print(x)

car
12
computer
66.5

In [ ]:
#List comprehension: 

testList = ["car", 12, "computer", 66.5]
[print(x) for x in testList]

car
12
computer
66.5

[None, None, None, None]

In [ ]:
# while loop

testList = ["car", 12, "computer", 66.5]

i = 0  # start at 0
while i < len(testList): # function to determine the length of the list
  print(testList[i])
  i = i + 1

car
12
computer
66.5

2.  	Looping through the items by referring to their index numbers using range() and len()

In [ ]:
testList = ["car", 12, "computer", 66.5]

for x in range(len(testList)):
  print(testList[x])

car
12
computer
66.5

**List Comprehension**

In [ ]:
testList = ["car","computer","cat"]

for x in range(len(testList)):
  newList = []

for x in testList:
  if "a" in x:
    newList.append(x)

print(newList)

['car', 'cat']

In [ ]:
testList = ["car","computer","cat"]

newlist = [x for x in testList if "a" in x]
print(newlist)

['car', 'cat']

1. Conditions

In [ ]:
testList = ["car", "12", "computer", 66.5]

newList = [x for x in testList if x !="car"] 
#return a new list containing all the other values other than car because x !="car" is true for them.

print(newList)

['12', 'computer', 66.5]

2. Iterable

In [ ]:
newList = [x for x in range(10)]
print(newList)

newList = [x for x in range(10) if x < 5]
print(newList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

Expression:

In [ ]:
vehicleList = ["car", "train"]

newList = [x.upper() for x in vehicleList]
print(newList)

newList = [x if x != "car" else "pajero" for x in vehicleList]
print(newList)

newList = ["Vehicles" for x in vehicleList]
print(newList)

['CAR', 'TRAIN']
['pajero', 'train']
['Vehicles', 'Vehicles']

**Sort Lists**

1.  	Alphanumerically

In [ ]:
vehicleList = ["Car", "Train", "Van", "Bike"]
vehicleList.sort()
print(vehicleList)

#ascending
numberList = [100, 50, 65, 82, 23]
numberList.sort()
print(numberList)

#descending
numberList = [100, 50, 65, 82, 23]
numberList.sort(reverse = True)
print(numberList)

['Bike', 'Car', 'Train', 'Van']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

2.  	Case Insensitive Sort

In [ ]:
vehicleList = ["car", "Train", "Van", "bike"]

#vehicleList.sort()
vehicleList.sort(key = str.lower)

print(vehicleList)

['bike', 'car', 'Train', 'Van']

3.  	Reverse Order

In [ ]:
vehicleList = ["Car", "Train", "Van", "Bike"]

vehicleList.reverse()
print(vehicleList)

['Bike', 'Van', 'Train', 'Car']

**Copy Lists**

1. copy()

In [ ]:
testList = ["car", 12, "computer", 66.5]

newCopyList = testList.copy()
print(newCopyList)

['car', 12, 'computer', 66.5]

2. list()

In [ ]:
testList = ["car", 12, "computer", 66.5]

newCopyList= list(testList)
print(newCopyList)

['car', 12, 'computer', 66.5]

**Join/ concatenate Two Lists**

In [ ]:
firstList = ["a", 12, "c"]
secondList = [1, "b", 3]

In [ ]:
# Using +

thirdList = firstList + secondList
print(thirdList)

['a', 12, 'c', 1, 'b', 3, 1, 'b', 3]

In [ ]:
# Using append() method

firstList = ["a", 12, "c"]
secondList = [1, "b", 3]

for x in secondList:
 firstList.append(x)

print(firstList)

['a', 12, 'c', 1, 'b', 3]

In [ ]:
# using extend() method

firstList.extend(secondList)
print(firstList)

['a', 12, 'c', 1, 'b', 3, 1, 'b', 3]

**Count the number of items**

In [ ]:
testList = ["car", "12", "computer", 66.5, "car"]
count = testList.count("car")
print(count)

2

**Position of a list items**

In [ ]:
testList = ["car", "12", "computer", 66.5, "car"]
indexPosition = testList.index("car")
print(indexPosition)

0

**In - built Functions:**




1.   min()
2.   max()
3.   sort()

In [ ]:
numberList = [100, 50, 65, 82, 23]

print(min(numberList))
print(max(numberList))

numberList.sort()
print(numberList)

23
100
[23, 50, 65, 82, 100]